h1{
    color:white; text-align: center; font-family: 'Times New Roman', Times, serif;
}
h2{
    color:white; text-align: center; font-family:'Times New Roman', Times, serif;
}
body{
    background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/440/4fac253144bc134a3f6bac4aa23036ade05716eb.jpg);
    background-size:cover; background-attachment:scroll
}
p{
    color:white; text-align:center; font-family:'Times New Roman', Times, serif
}