body {
  background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/440/4fac253144bc134a3f6bac4aa23036ade05716eb.jpg);
  background-size: cover;
  background-attachment: scroll;
  margin: auto;
  max-width: 800px;
  font-size: 10pt;
}
.info {
  display: flex;
}
div#topcontent {
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border-bottom: white solid 1px;
  padding: 1em;
  flex: 1 1 100px;
}
div#topcontent h1 {
  margin: 10px 10px 10px 4px;
}
div#topcontent h2 {
  margin: 4px;
}
div#leftcontent {
  color: white;
  padding: 1em;
  flex: 1 1 400px;
  font-family: Arial, Helvetica, sans-serif;
}
.section h2 {
  font-family: "Times New Roman", Times, serif;
}
div#rightcontent {
  border-left: white solid 1px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1 1 400px;
  padding: 1em;
}
.section {
  border-bottom: white solid 1px;
}